{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}


<div class="row justify-content-center">
  <div class="col-md-4">

    <div class="card shadow-sm">
      <div class="card-body p-4">

<!-- Action Buttons -->
 <h3 class="mb-4 text-center fw-bold">SmartCart Admin Dashboard</h3>
<div class="text-center mt-5">
  <a href="admin/profile" class="btn btn-outline-info btn-sm">Admin Profile</a>
  <br><br>
  <a href="{{ url_for('add_item') }}" class="btn btn-outline-info btn-sm">
    Add Item
  </a><br><br>
  <a href="{{ url_for('item_list') }}" class="btn btn-outline-info btn-sm">
    View Items
</a>
  

</div>
</div>
</div>
</div>
</div>
{% endblock %}