{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-body">

                <h2 class="text-center mb-4">Contact Us</h2>

                <p><strong>Email:</strong> support@smartcart.com</p>
                <p><strong>Phone:</strong> +91 98765 43210</p>
                <p><strong>Address:</strong> Hyderabad, India</p>

            </div>
        </div>

    </div>
</div>

{% endblock %}
